* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
  font-family: 'Roboto', sans-serif;
}

body {
  max-width: 1200px;
  margin: 0 auto;
}



.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

.container {
  width:80%;
  margin: 25px auto;
}

/* main */
/* left window */

.left-window,
.middle-window,
.right-window {
  float: left;
  width: 305px;
  height: 400px;
  margin-right: 25px;
  background-image: url(../img/1.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  
}

.footer-sec-left-window,
.footer-sec-middle-window,
.footer-sec-right-window {
  width: 100%;
  height: 100%;
  padding-top: 410px;
}
