* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
  font-family: 'Roboto', sans-serif;
}





.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

.container {
  width: 80%;
  margin: 25px auto;
}

/* main */
/* left window */

.left-window-img,
.middle-window-img,
.right-window-img {
  width: calc(100% / 3 - -62%);
}

.left-window,
.middle-window,
.right-window {
  float: left;
  width: calc(100% / 3);
}




.footer-sec-left-window,
.footer-sec-middle-window,
.footer-sec-right-window,
.footer-sec-second-left-window {
  font-size: 0.2em;
  width: 100%;
  height: 100%;
}

.header-sec-left-window,
.header-sec-middle-window,
.header-sec-right-window {
 
}
