* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
  font-family: 'Roboto', sans-serif;
}





.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

.container {
  width: 80%;
  margin: 25px auto;
}

/* main */
/* left window */

.left-window-img,
.middle-window-img,
.right-window-img {
  width: calc(100% / 3 - -62%);
}

.left-window,
.middle-window,
.right-window {
  float: left;
  width: calc(100% / 3);
  
}
.header-sec-left-window,
.header-sec-middle-window,
.header-sec-right-window {
  position: relative;
}


 /* banners */
.sales-banner {
  font-size: 15px;
  color: white;
  background-color: red;
  border: 1px solid red;
  position: absolute;
  bottom: 15px;
  left: 0;
}

.eco-friendly-banner {
  font-size: 15px;
  color: white;
  background-color: green;
  border: 1px solid green;
  position: absolute;
  bottom: 15px;
  left: 40px;
}

.adding-to-wishlist-banner {
  font-size: 20px;
  background-color: white;
  border: 1px solid white;
  position: absolute;
  top: 15px;
  right: 16px;
  padding: 10px;
}


/* window footer */
.footer-sec-left-window {
  margin-top: 10px;
}

.clothes-brand {
  font-weight: normal;
  font-size: 0.9em;
}

.clothes-description {
  text-transform: uppercase;
  font-size: 1.1em;
}

.clothes-price {
  font-size: 0.9em;
  color:red;
}

.price-variation {
  color: black;
  text-decoration-line: line-through;

}