* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
  font-family: 'Roboto', sans-serif;
}





.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

.container {
  width: 80%;
  margin: 25px auto;
}

/* main */
/* first section and second section general rules */

.left-window-img,
.middle-window-img,
.right-window-img,
.second-left-window-img,
.second-middle-window-img,
.second-right-window-img  {
  width: calc(100% / 3 - -62%);
}

.left-window,
.middle-window,
.right-window,
.second-left-window,
.second-middle-window,
.second-right-window {
  float: left;
  width: calc(100% / 3);
  display: block;
}

.header-sec-left-window,
.header-sec-middle-window,
.header-sec-right-window,
.second-header-sec-left-window,
.second-header-sec-middle-window,
.second-header-sec-right-window {
  position: relative;
}


 /* banners */
.sales-banner {
  font-size: 15px;
  color: white;
  background-color: red;
  border: 1px solid red;
  position: absolute;
  bottom: 15px;
  left: 0;
}

.eco-friendly-banner {
  font-size: 15px;
  color: white;
  background-color: green;
  border: 1px solid green;
  position: absolute;
  bottom: 15px;
  left: 40px;
}

.adding-to-wishlist-banner {
  font-size: 20px;
  background-color: white;
  border: 1px solid white;
  position: absolute;
  top: 15px;
  right: 16px;
  padding: 10px;
}


/* window footer */


.clothes-brand {
  font-weight: normal;
  font-size: 0.9em;
}

.clothes-description {
  text-transform: uppercase;
  font-size: 1.1em;
}

.clothes-price {
  font-size: 0.9em;
  color:red;
}

.price-variation {
  color: black;
  text-decoration-line: line-through;

}

/* second section */
.second-section {
  margin-top: 40px;
}

/* banner second section */
.second-eco-friendly-banner {
  font-size: 15px;
  color: white;
  background-color: green;
  border: 1px solid green;
  position: absolute;
  bottom: 15px;
  left: 0;
}

/* hover section */
/* hide img */

.hoover-left-window-img, 
.hoover-middle-window-img,
.hoover-right-window-img,
.hoover-second-left-window-img, 
.hoover-second-middle-window-img,
.hoover-second-right-window-img {
  display: none;
  width: calc(100% / 3 - -62%);
}
 

/* hide original img */
/* left img */
.left-window:hover .left-window-img {
  display: none;
}
.second-left-window:hover .second-left-window-img {
  display: none;
}

/* middle img */
.middle-window:hover .middle-window-img {
  display: none;
}
.second-middle-window:hover .second-middle-window-img {
  display: none;
}

/* right img */
.right-window:hover .right-window-img {
  display: none;
}
.second-right-window:hover .second-right-window-img {
  display: none;
}

/* show new img */
/* left img */
.left-window:hover .hoover-left-window-img {
  display: block;
}
.second-left-window:hover .hoover-second-left-window-img {
  display: block;
}

/* midddle img */
.middle-window:hover .hoover-middle-window-img {
  display: block;
}
.second-middle-window:hover .hoover-second-middle-window-img {
  display: block;
}

/* right img */
.right-window:hover .hoover-right-window-img {
  display: block;
}
.second-right-window:hover .hoover-second-right-window-img {
  display: block;
}