* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
  font-family: 'Roboto', sans-serif;
}





.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

.container {
  width: 80%;
  margin: 25px auto;
}

/* main */
/* left window */

.left-window-img,
.middle-window-img,
.right-window-img {
  width: calc(100% / 3 - -62%);
}

.left-window,
.middle-window,
.right-window {
  float: left;
  width: calc(100% / 3);
  
}
.header-sec-left-window {
  position: relative;
  
}
 /* banners */
.sales-banner {
  font-size: 15px;
  color: white;
  background-color: red;
  border: 1px solid red;
  position: absolute;
  bottom: 15px;
  left: 0;
}

.eco-friendly-banner {
  font-size: 15px;
  color: white;
  background-color: green;
  border: 1px solid green;
  position: absolute;
  bottom: 15px;
  left: 40px;
}


