* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
  font-family: 'Roboto', sans-serif;
}





.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

.container {
  width: 80%;
  margin: 25px auto;
}

/* main */
/* left window */
/* .left-window-img{
  width: 100%;
} */
.left-window {
  background-color: red;
  width: 100px;
  height: 100px;
  display: inline-block;
}

.middle-window {
  background-color: yellow;
  width: 100px;
  height: 100px;
  display: inline-block;
}

/* .left-window,
.middle-window,
.right-window,
.second-left-window {
  float: left;
  width: 295px;
  height: 400px;
  margin-right: 25px; */
  /* background-image: url(../img/1.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; */
  
}

/* .footer-sec-left-window,
.footer-sec-middle-window,
.footer-sec-right-window,
.footer-sec-second-left-window {
  width: 100%;
  height: 100%;
} */
/* 
main:last-child section {
  margin-top: 110px;
} */
