* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

main {
  width: 80%;
  margin: 25px auto;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;

}

/* main */
/* left window */

.left-window {
  float: left;
  width: 300px;
  height: 400px;
  background-color: red;
}

.footer-sec-left-window {
  width: 100%;
  height: 100%;
  padding-top: 410px;
}